<% content_for(:title, "Donation Station" ) %>

<div class="col-xs-12 col-sm-4 col-md-4 welcome-box">
  <%= link_to image_tag("charity.jpg", id: "non-profit-main", :class => " image_box img-responsive"), nonprofits_path %>
  <h3>Non-Profits</h3>
  <p>Create and manage your non-profits</p>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 welcome-box">
  <%= link_to image_tag("donations.jpg", id: "donations-main", :class => " image_box img-responsive"), donations_path %>
  <h3>See Our Contributers</h3>
  <p>Check out our generous community!</p>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 welcome-box">
  <%= link_to image_tag("globe.png", id: "subscribe-main", :class => " image_box img-responsive "), subscriptions_path %>
  <h3>Subscribe</h3>
  <p>Create a recurring donation</p>
</div>
