<% content_for(:title, "Donation Station" ) %>

<div class="col-xs-12 col-sm-4 col-md-4 welcome-box">
  <%= link_to image_tag("charity.jpg", id: "non-profit-main", :class => "center image_box img-responsive"), nonprofits_path %>
  <h3>Non-Profits</h3>
  <p>Create and manage your non-profits</p>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 welcome-box">
  <%= link_to image_tag("donations.jpg", id: "donation-main", :class => "center image_box img-responsive") %>
  <h3>One Time Donation</h3>
  <p>Contribute to a non-profit of your choice</p>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 welcome-box">
  <%= link_to image_tag("globe.png", id: "subscribe-main", :class => "center image_box img-responsive ") %>
  <h3>Subscribe</h3>
  <p>Create a recurring donation</p>
</div>
