<% content_for(:title, "Non-Profits | Donation Station" ) %>

<div class="head-style">
  <h2>Non-Profits:</h2>
</div>

<div class="foot-style">
  <% @nonprofits.each do |np| %>
    <div>
      <%= link_to "#{np.name}", nonprofit_path(np), :class=>"non-profit-list" %>
    </div>
  <% end %>
</div>

<div class="foot-style">
  <% if current_user.email == "test@test.com" %>
    <%= link_to "New Non-Profit", new_nonprofit_path, :class => "btn btn-success" %>
  <% end %>
</div>
