<% content_for(:title, "Non-Profits | Donation Station" ) %>

<div class="wrapper">
  <div class="ribbon-wrapper-green">
    <div class="ribbon-green">
      NEWS
    </div>
  </div>
</div>

<div class="head-style">
  <h2>Non-Profits</h2>
</div>

<div class="non-profit-list">
  <% @nonprofits.each do |np| %>

    <p><%= link_to "#{np.name}", nonprofit_path(np) %></p>
    <br>
  <% end %>
</div>

<div class="foot-style">
<%= link_to "New Non-Profit", new_nonprofit_path, :class => "btn btn-success" %>
</div>
