<% content_for(:title, "Non-Profits | Donation Station" ) %>

<div class="head-style">
  <h2>Non-Profits</h2>
</div>

<div class="non-profit-list">
  <% @nonprofits.each do |np| %>
    <i><%= link_to "#{np.name}", nonprofit_path(np) %></i>
    <br>
  <% end %>
</div>

<div class="foot-style">
<%= link_to "New Non-Profit", new_nonprofit_path, :class => "btn btn-success" %>
</div>
