<% content_for(:title, "#{@nonprofit.name} | Donation Station" ) %>

<h2><%= @nonprofit.name %></h2>


<div class="donation-list">
<h3>Current Donations:</h3>
  <% @nonprofit.donations.each do |donation| %>
    <div><%= donation.id %>: <%= donation.amount %></div>
  <% end %>
</div>
<div class="foot-style">
  <%= link_to "Donate Now", new_nonprofit_donation_path(@nonprofit), :class => "btn btn-success" %>
</div>
