<%= render "layouts/errors", object: @transfer %>

<form action="/nonprofits/<%= @nonprofit.id %>/transfers" method="POST" id="transfer-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="transfer[nonprofit_id]" value="<%= @nonprofit.id %>">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Amount $</span>
      <input type="text" size="7" name="transfer[amount]" data-stripe="amount" placeholder="200"/>
      .00
    </label>
  </div>

  <button type="submit">Send Funds</button>
</form>
