.navbar {
  background-color: #dff0d8 !important;
  border-bottom: 3px solid lightgray !important;
}


.navbar-default .navbar-brand {
  padding-top: 1.2em;
}

@media (max-width: 480px) {
  .navbar-default .navbar-brand a {
    font-size: 1.5em;
    font-style: normal;
  }
}

.navbar-brand a {
  font-family: 'Philosopher', sans-serif !important;
  font-style: italic;
  font-size: 2em;
  text-shadow: darkgray 0.1em 0.1em 0.2em;
}
.nav-format {
  float: left;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 1.5em;
}

.nav-format p {
  font-size: .5em;
}

.navbar-right {
  overflow: auto !important;
}


.img-box {
  max-width: 1.5em !important;
  float: right;
}

h3, h2{
  font-family: 'Philosopher', sans-serif !important;
}

* {
  font-family: 'Cabin', sans-serif !important;
}

body {
  padding: 7em;
  background: url('sky.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image_box {
  margin: 0 auto;
  max-height: 50%;
  border-radius: 2em !important;
  border: 3px solid lightgray;
}

.welcome-box h3, p {
  text-align: center;
}

.foot-style {
  margin-top: 25px;
}

.non-profit-list {
  margin-top: 25px;
}
.donation-list i {
  text-decoration: underline;
}
