.navbar {
  background-color: #dff0d8 !important;
  border-bottom: 3px solid lightgray !important;
}

.navbar-brand {
  margin-top: .25em;
}

.navbar-brand a {
  font-family: 'Philosopher', sans-serif !important;
  font-style: italic;
  font-size: 2em;
  text-shadow: darkgray 0.1em 0.1em 0.2em;
}

@media (max-width: 768px) {
  .navbar-brand  {
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .navbar-brand a {
  font-family: 'Philosopher', sans-serif !important;
  font-style: italic;
  font-size: 1.2em;
  text-shadow: darkgray 0.1em 0.1em 0.2em;
  }
}
@media (max-width: 250px) {
  .navbar-brand a {
  font-family: 'Philosopher', sans-serif !important;
  font-style: italic;
  font-size: .9em;
  text-shadow: darkgray 0.1em 0.1em 0.2em;
  }
  .navbar-brand  {
    margin-bottom: .3em;
  }
}
@media (max-width: 210px) {
  .navbar-brand a {
  font-family: 'Philosopher', sans-serif !important;
  font-style: italic;
  font-size: .6em;
  text-shadow: darkgray 0.1em 0.1em 0.2em;
  }
  .navbar-brand  {
    margin-bottom: .3em;
  }
}

.nav-format {
  float: left;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 1.5em;
}

.nav-format p {
  font-size: .5em;
}
.logged-in {
  padding-top: 14px;
}
.logged-in p{
  font-size: 1em;
}

.navbar-right {
  overflow: auto !important;
}


.img-box {
  max-width: 1.5em !important;
  float: right;
}

h3, h2{
  font-family: 'Philosopher', sans-serif !important;
}

* {
  font-family: 'Cabin', sans-serif !important;
}

body {
  padding: 7em;
  background: url('sky.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image_box {
  margin: 0 auto;
  max-height: 50%;
  border-radius: 2em !important;
  border: 3px solid lightgray;
}

.welcome-box h3 {
  text-align: center;
}
.welcome-box p {
  text-align: center;
}


.foot-style {
  margin-top: 25px;
}

.non-profit-list {
  margin-top: 25px;
}
.donation-list i {
  text-decoration: underline;
}

thead {
  background-color: lightgray;
}

table, tr, td, th {
  border: 1px solid black;
}

td, th {
  padding: 5px !important;
  text-align: center;
}

td {
  background-color: #dff0d8;
}

.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}


.wrapper2 {
  margin: 50px auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green2 {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green2 {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green2:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green2:before {
  left: 0;
}
.ribbon-green2:after {
  right: 0;
}


